@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4e2fd2;
  --color-secondary: #0aa288;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply font-sans box-border;
  }
}
